<div id="t__inventory-new">
  <.form
    let={f}
    for={@item_changeset}
    id="item-new-form"
    class="flex flex-col"
    phx-submit="save_item"
    phx-change="validate"
  >
    <div class="mb-4">
      <%= text_input(f, :name, placeholder: "Item name") %>
    </div>
  </.form>
</div>