<div id="t__homepage" class="flex w-full">
  <h1 class="text-3xl font-bold underline">
    Hello world!
  </h1>
  <p>It is nice to see you today</p>

  <.link patch={Routes.users_path(@socket, :index)}>
    Users
  </.link>
</div>
